Repository do3-2021/kudo, pull requests merged in 2022-04, with the labels that each got.

#4 Define CLI API
  .github/workflows/issue_create.yaml
  .github/workflows/pr_create.yaml
Labels: enhancement, team/cluster-client, team-issue

#8 Define Networking API
  .github/workflows/issue_create.yaml
  .github/workflows/pr_create.yaml
  docs/proposals/networking.proto
Labels: team/networking, team/node-agent

#5 Define CLI API
  docs/proposals/cli-convention.md
  docs/proposals/cli.md
Labels: enhancement, team/cluster-client, team-issue

#15 Create resource schema definition
  docs/proposals/resource.md
  docs/proposals/workload.md
Labels: team/cluster-controller, team/cluster-scheduler, team/networking, team/node-agent, team/cluser-client
